:root{
    --azul-claro: #22d4fd; 
    --branco-claro: #F6F6F6;
    --preto: #00000c;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
}

header{ 
    background-color: var(--preto);
    color: var(--azul-claro);

}

.cabe{
    background-color: var(--preto);
    display: flex;
    gap: 20px;
}

main{
    background-color: var(--preto);
    color: var(--branco-claro);
   
}
